body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.main_container {
    width: 800px;
    height: 800px;
    position: relative;
}

.main_container img {
    height: 100%;
    width: auto;
    opacity: 0.8;
}

.image_text_container .text_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}
