.header {
    width: 100%;
    height: 80px;
    background-color: #101010;
}

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
    background-color: #101010;
}

.logo_container {
    float: left;
    height: 100%;
    display: table;
}

.logo_container h1 {
    font-family: 'Anton', sans-serif;
    color: #FF9B00;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    letter-spacing: 2px;
    transform: scaleX(1.2);
    margin: 40px;
    float: right;
}

.navigation{
    display: flex;
    padding: 0;
    margin: 0;
}

.navigation a{
    color: #FF9B00;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
}

